# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS
.aws/
credentials

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Editors
.vscode/
.idea/

# Operating systems
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
*.pem
*.key
